# Distribution package
/dist/

# Virtualenv
/env/
/build/
/var/

# Python files.
*.pyc
*.pyo
*.egg-info
*~

# Compiled gettext catalogs.
*.mo

# Editors' temporary files
.*.swp

# Test reports.
.coverage
nosetests.xml
.noseids
coverage.xml
